body{
    background:url("../images/nature.jpg");background-attachment: fixed;
}
form{width:70%;background:rgba(255,0,0,0.5);
padding:20px;margin:auto;color:white;text-transform: uppercase;}

select,textarea,.myinput,input[type="text"],input[type="password"]{
    width:97%;margin:10px;display: inline-block;
    height:30px;
    /* background: none;border:none;border-bottom:1px solid white; */
}
input[type="submit"]{
    width:100%;height:40px;background: green;color:white;border:none;
    border-radius:20PX;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 20px gray;
}
.header{
    text-align: center;
}